<div class="wrapper">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                <h4 class="modal-title">Вход в систему:</h4>
            </div>
            <div class="modal-body">
                <div class="login">
                    <h6>Ведите логин:</h6>
                    <input type="text" [(ngModel)]="login" (ngModelChange)="loginChange($event)" >
                </div>
                <div class="password">
                    <h6>Ведите пароль:</h6>
                    <input type="password"  [(ngModel)]="password" (ngModelChange)="passwordChange($event)">
                </div>
            </div>
            <div class="button-link">
                <div class="prev">
                    <a [routerLink]="['/main']">Вернуть на главную</a>

                </div>
                <div class="next" (click)="send()">
                    Войти в систему
                </div>
            </div>
        </div>
    </div>
</div>
