<div class="wrapper">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                <h4 class="modal-title">Welcome</h4>
            </div>
            <div class="modal-body">
                <div class="login">
                    <input type="text" placeholder="Entry login" [(ngModel)]="login">
                </div>
                <div class="password">
                    <input type="password" placeholder="Entry password" [(ngModel)]="password">
                </div>
            </div>
            <div class="input" (click)="send()">
                <a>Войти в систему</a>
            </div>
            <div class="output" (click)="logout()">
                <a>Выход из системы</a>
            </div>
        </div>
    </div>
</div>
