@import "../../../styles";

:host{
  display: block;
  height: 100%;
}

.wrapper {
  height: 100%;
  padding-top: 71px;
}

.card {
  max-width: 90vw;
  width: 320px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
