<div class="wrapper">
    <div class="card mb-4">
        <div class="card-header ">
            <h4 class="modal-title">Welcome</h4>
        </div>
        <div class="card-body">
            <div class="login mb-1">
                <mat-form-field class="w-100">
                    <input matInput placeholder="Введитите логин" value="Sushi" type="email" [(ngModel)]="login">
                </mat-form-field>
            </div>
            <div class="password">
                <mat-form-field class="w-100">
                    <input matInput placeholder="Введитите пароль" type="password" value="Sushi" [(ngModel)]="password">
                </mat-form-field>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary w-100 mb-1" (click)="send()"> Войти в систему</button>
            <button class="btn btn-danger w-100" (click)="logout()">Выход из системы</button>
        </div>
    </div>
</div>
