@import "../../../../../styles";

.working {
  padding-top: 35px;
  padding-bottom: 35px;

  .wrapper-cards {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .working {
    padding-bottom: 20px;
    .wrapper-cards {
      display: block;
    }
    .example-card{
      left: 50%;
      transform: translate(-50%)
    }
  }
}
