.modal.fade {
  display: block;
  opacity: 1;
  overflow: visible;
  position: fixed;

  .modal-dialog {
    top: 50%;
    transform: translate(0, -50%);
  }

  .mail {
    justify-content: space-between;
    a:hover {
      text-decoration: none;
    }
  }
  .phone {
    justify-content: space-between;
  }
}
