$gray: #e3e3e3;
$gray-border: #ccc;
$filter-logo: #ceffff;
$white: #fff;
$black-text: #4a4444;
$accent-yellow: #FFCC00;
$text-about: #747474;
$blue-a: #83E6FF;
$blue: #0000FF;
$block-select: #3f51b5;
$primary: #3f51b5;
