<section class="experience" id="exp">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
          <div class="skills-experience">
            <h1>Опыт<span class="touch">.</span></h1>
            <p>Ищу коллектив для получения большего опыта.</p>
          </div>
      </div>
      <div class="col-xl-8">
          <div class="experience-work">
            <h1>HTML-Верстальщик</h1>
            <p>Был фрилансером в ip-system. Работал с 2 проектами, после чего прекратил с ними сотрудничество.</p>
          </div>
      </div>
    </div>
  </div>
</section>

