@import "../../../../../styles";

.experience {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $gray;

  .touch {
    position: absolute;
    color: $blue;
  }

  .experience-work {
    p {
      font-family: 'Indie Flower', cursive;
      color: $text-about;
    }
  }

  .skills-experience {
    p {
      font-family: 'Indie Flower', cursive;
      color: $text-about;
    }
  }
}

@media only screen and (max-width: 768px) {
  .experience {
    text-align: center;
  }
}
