@import "../../../../../styles";

.skills {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $gray;

  .title-skill {
    padding-bottom: 50px;
    padding-right: 5px;
    p{
      font-family: 'Indie Flower', cursive;
      color: $text-about;
    }
  }


  .touch {
    position: absolute;
    color: $blue;
  }

  .side-left {
    padding-left: 50px;
  }

  .skills-img-text {
    h5 {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      opacity: 0.8;
      font-style: italic;
    }
    .img-text {
      padding: 10px 20px;
      display: inline-block;
      vertical-align: text-top;
      img {
        width: 140px;
        height: 140px;

      }
      p {
        text-align: center;
        font-size: 16px;
        max-width: 140px;
        padding-top: 15px;
        font-family: "Indie Flower", cursive;
      }
    }
  }


}
@media only screen and (max-width: 992px) {
  .skills {
    .skills-img-text {
      .img-text {
        padding: 10px 40px;
      }
    }
    .bottom-user {
      display: none;
    }
  }
}
@media only screen and (max-width: 768px) {
  .skills {
    .skills-img-text {
      .img-text {
        padding: 10px 45px;
      }
    }
  }
}
@media only screen and (max-width: 576px) {
  .skills {
    .side-left {
      padding: 15px;
    }
    .title-skill{
      text-align: center;
    }
    .skills-img-text {
      .img-text {
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        p{
          padding-left: 20px;
        }
      }
    }
  }
}
