<section class="skills" id="skill">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="title-skill">
                    <h1>Навыки<span class="touch">.</span></h1>
                    <p>Я вдохновленном созданием превосходных проектов, в компании людей, которые могут поделиться со
                        своими знаниями.</p>
                </div>
                <div class="bottom-user">
                    <img src="https://img.icons8.com/clouds/100/000000/under-computer.png">
                    <img src="https://img.icons8.com/nolan/64/000000/smoke-explosion.png">
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 side-left">
                <div class="row">
                    <div class="skills-img-text">
                        <h5>Инструменты, библиотека, фреймвоки, языки программирования, используемые мной в ежедневной работе</h5>
                        <div class="img-text">
                            <img src="../../../../../assets/img/skills/angularjs.png" alt="">
                            <p>Ангуляр 7 вышедший в 2018 года, опробован и может быть использован в разработке</p>
                        </div>
                        <div class="img-text">
                            <img src="../../../../../assets/img/skills/Boostrap_logo.png" alt="">
                            <p>Версии 3 и 4. Bootstrap - популярный фреймворк разработки</p>
                        </div>
                        <div class="img-text">
                            <img src="../../../../../assets/img/skills/css3.png" alt="">
                            <p>CSS3 - Таблицы Каскадных стилей</p>
                        </div>
                        <div class="img-text">
                            <img src="../../../../../../assets/img/skills/emmet.png"   alt="">
                            <p>Emmet - инструмент быстрого набора текста для CSS и HTML</p>
                        </div>
                        <div class="img-text">
                            <img src="../../../../../../assets/img/skills/fa.png"  alt="">
                            <p>Font Awesome - Самая большая библиотека иконочных шрифтов</p>
                        </div>
                        <div class="img-text">
                            <img src="../../../../../../assets/img/skills/Flexbox.jpg"  alt="">
                            <p>Flexbox - технология CSS</p>
                        </div>
                        <div class="img-text">
                            <img src="../../../../../../assets/img/skills/git.jpg"  alt="">
                            <p>Git - Система контроля версий</p>
                        </div>
                        <div class="img-text">
                            <img src="../../../../../../assets/img/skills/gulp-sass.png"  alt="">
                            <p>Сборщик контента</p>
                        </div>
                        <div class="img-text">
                            <img src="../../../../../../assets/img/skills/html5.png"  alt="">
                            <p>HTML5 - Язык разметки Гипертекста</p>
                        </div>
                        <div class="img-text">
                            <img src="../../../../../../assets/img/skills/javascript_logo.jpg"  alt="">
                            <p>Java-scrypt - Язык разработки</p>
                        </div>
                        <div class="img-text">
                            <img src="../../../../../../assets/img/skills/jquery.gif"  alt="">
                            <p>Jquery популярный фреймворк для работы с java-scrypt</p>
                        </div>
                        <div class="img-text">
                            <img src="../../../../../../assets/img/skills/npm.jpg"  alt="">
                            <p>Пакетный менеджер</p>
                        </div>
                        <div class="img-text">
                            <img src="../../../../../../assets/img/skills/ph.jpg"  alt="">
                            <p>Adobe Photoshop - инструмент для работы с графикой</p>
                        </div>
                        <div class="img-text">
                            <img src="../../../../../../assets/img/skills/sass.png "  alt="">
                            <p>SASS метаязык для работы с CSS</p>
                        </div>
                        <div class="img-text">
                            <img src="../../../../../../assets/img/skills/TortoiseGit_logo.svg.png"  alt="">
                            <p>Инструмент для работы с системой контроля версий (git и svn)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
