<section class="skills" id="skill">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="title-skill">
                    <h1>Навыки<span class="touch">.</span></h1>
                    <p>Я вдохновленном созданием превосходных проектов, в компании людей, которые могут поделиться со
                        своими знаниями.</p>
                </div>
                <div class="bottom-user">
                    <img src="https://img.icons8.com/clouds/100/000000/under-computer.png">
                    <img src="https://img.icons8.com/nolan/64/000000/smoke-explosion.png">
                </div>
            </div>
            <div class="col-xl-8 side-left">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="web-develop">
                            <h5>веб-разработка</h5>
                            <p>JavaScript, TypeScript, WebStorm.</p>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="web-develop">
                            <h5>Умения в PS</h5>
                            <p>Вырезка объекта из psd-макетов</p>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <hr>
                        <div class="web-develop">
                            <h5>Frontend Develop</h5>
                            <p>HTML, CSS, SCSS, flexbox, css grid, Bootstrap, Angular2+</p>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <hr>
                        <div class="web-develop">
                            <h5>В поисках уменей</h5>
                            <p>Изучение SEO</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
