<div class="container">
    <div class="row">
        <div class="col-xl-12" *ngIf="post">
            <div class="date">{{post.date}}</div>
            <div class="title">
                <h2>{{post.title}}</h2>
            </div>
            <div class="subtitle"><h5>{{post.subtitle}}</h5></div>
            <div class="desc">{{post.description}}</div>
            <div class="img">{{post.imgUrl}}</div>
            <button mat-raised-button color="primary" [routerLink]="['/blog/list']">К списку</button>
        </div>
    </div>
</div>
