<header class="head">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="logo">
                    <img src="https://img.icons8.com/clouds/100/000000/bookmark-ribbon.png">
                    <div class="filter"></div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="menu">
                    <ul class="d-flex align-items-center">
                        <li>
                            <a href="#">Привет</a>
                        </li>
                        <li>
                            <a href="#">Навыки</a>
                        </li>
                        <li>
                            <a href="#">Портфолио</a>
                        </li>
                        <li>
                            <a href="#">Связь</a>
                        </li>
                        <li>
                            <a href="#">Еще</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
