<header class="head" #head >
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="logo">
                    <img src="https://img.icons8.com/clouds/100/000000/bookmark-ribbon.png">
                    <div class="filter"></div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="menu">
                    <ul  class="d-flex align-items-center">
                        <li>
                            <a #searchAnchor (click)="searchSection($event, 'about')" >Привет</a>
                        </li>
                        <li>
                            <a #searchAnchor (click)="searchSection($event, 'skill')" >Навыки</a>
                        </li>
                        <li>
                            <a #searchAnchor (click)="searchSection($event, 'exp')" >Опыт</a>
                        </li>
                        <li>
                            <a #searchAnchor (click)="searchSection($event, 'working')" >Работы</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
